<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Author -->
    <meta name="author" content="Themesindustry">
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 8 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq">
    <!-- Page Title -->
    <title>@ViewData["Title"] - Corporate</title>
    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/favicon.ico">
    <!-- Bundle -->
    <link rel="stylesheet" href="~/assets/css/bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/revolution-settings.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/cubeportfolio.min.css">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

<!--Loader Start-->
<div class="loader">
    <div class="loader-inner">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div>
<!--Loader End-->

<!--header Start-->
<header class="header-with-top">
    <!--header top-->
    <div class="top-header-area bg-dark text-white alt-font">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="address text-left">
                        +1 234 888 9876  ( 9AM - 5PM GST )
                    </div>
                </div>
                <div class="col-6">
                    <ul class="header-social text-right">
                        <li><a href="~/assets/javascript:void(0);" class="facebook-text-hvr"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="~/assets/javascript:void(0);" class="twitter-text-hvr"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="~/assets/javascript:void(0);" class="instagram-text-hvr"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="~/assets/javascript:void(0);" class="pinterest-text-hvr"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-static">
        <div class="container">

            <a title="Logo" class="logo scroll">
                <img src="~/assets/img/logo-black.png" class="logo-dark default" alt="logo">
            </a>

            <button class="sidemenu-button d-lg-none" type="button" data-toggle="collapse" data-target="#ntg" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sidemenu-toggler"></span>
                <span class="sidemenu-toggler"></span>
                <span class="sidemenu-toggler"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between align-items-center" id="ntg">
                <ul class="navbar-nav mx-auto alt-font">
                    <li class="nav-item">
                        <a class="nav-link scroll active" href="~/assets/#home">Home</a>
                    </li>
                    <li class="nav-item">
                       <a asp-area="Manage" asp-controller="Dashboard" asp-action="Index" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="~/assets/#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="~/assets/#services">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="~/assets/#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="~/assets/#blog">Latest News</a>
                    </li>
                </ul>
                <a href="~/assets/#contact" class="btn btn-nav scroll">Let's Get In Touch</a>
            </div>

        </div>
    </nav>

</header>
<!--header End-->


@RenderBody()


<!--Footer Start-->
<footer class="footer-area section-padding">
    <div class="container">
        <div class="row text-md-left text-center">
            <!--Column-->
            <div class="col-lg-4 col-md-6">
                <h3 class="mb-3 text-white">Company</h3>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br>
                    Donec orci felis, feugiat in aliquam eu, dictum in arcu. Sed vel cursus lectus,
                    <br><br>
                    quis placerat ipsum. Integer nec diam vel nunc.</p>

            </div>
            <!--Column-->
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <h3 class="mb-3 text-white">Services And Legal</h3>
                <div class="footer-list">
                    <!--List-->
                    <ul class="mr-4">
                        <li><a href="~/assets/javascript:void(0);">Web Desing</a></li>
                        <li><a href="~/assets/javascript:void(0);">Photography</a></li>
                        <li><a href="~/assets/javascript:void(0);">Corporate</a></li>
                        <li><a href="~/assets/javascript:void(0);">Advertisement</a></li>
                        <li><a href="~/assets/javascript:void(0);">Application Design</a></li>
                    </ul>
                    <!--List-->
                    <ul>
                        <li><a href="~/assets/javascript:void(0);">Company Terms</a></li>
                        <li><a href="~/assets/javascript:void(0);">Privacy Policy</a></li>
                        <li><a href="~/assets/javascript:void(0);">Refund Policy</a></li>
                        <li><a href="~/assets/javascript:void(0);">GDPR Comliance</a></li>
                        <li><a href="~/assets/javascript:void(0);">Contact Legal</a></li>
                    </ul>
                </div>
            </div>
            <!--Column-->
            <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
                <h3 class="mb-3 text-white">We Are Social</h3>
                <ul class="footer-icon">
                    <li><a href="~/assets/javascript:void(0);" class="facebook-text-hvr"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="~/assets/javascript:void(0);" class="twitter-text-hvr"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="~/assets/javascript:void(0);" class="instagram-text-hvr"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="~/assets/javascript:void(0);" class="pinterest-text-hvr"><i class="fab fa-pinterest-p"></i></a></li>
                    <li><a href="~/assets/javascript:void(0);" class="linkedin-text-hvr"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="~/assets/javascript:void(0);" class="google-text-hvr"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>

                <h6 class="text-white mb-3">Ocassionally hear from us</h6>
                <label class="input-group footer-mail">
                    <input type="email" class="form-control" placeholder="Enter Email Address">
                <button class="btn btn-medium btn-green btn-hvr-white" type="submit">YES I'M IN</button>
                </label>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

<!--Scroll Top Start-->
<span class="scroll-top-arrow"><i class="fas fa-angle-up"></i></span>
<!--Scroll Top End-->

<!-- JavaScript -->
<script src="~/assets/js/bundle.min.js"></script>
<!-- Plugin Js -->
<script src="~/assets/js/jquery.appear.js"></script>
<script src="~/assets/js/jquery.fancybox.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/parallaxie.min.js"></script>
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/jquery.cubeportfolio.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script src="~/assets/js/jquery.themepunch.tools.min.js"></script>
<script src="~/assets/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="~/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script src="~/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="~/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="~/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="~/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script src="~/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="~/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="~/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="~/assets/js/extensions/revolution.extension.video.min.js"></script>
<!--contact form-->
<script src="~/assets/js/contact_us.js"></script>
<!-- google map -->
<script src="~/assets/https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRG4KqGVNvAPY4UcVDLcLNXMXk2ktNfY"></script>
<script src="~/assets/js/map.js"></script>
<!-- custom script -->
<script src="~/assets/js/script.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>





            

    

